doctype html
html(ng-app='App')
  head
    title Links
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', integrity='sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==', crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', integrity='sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='index.min.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js')
  body
    .container
      nav.navbar.navbar-default
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='.')
            i.fa.fa-link
            | &nbsp;Links
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href='/#/') Home
            li: a(href='/#/list') List
            li: a(href='/#/tags') Tags
          form.navbar-form.navbar-left(role='search')
            button.btn.btn-default(type='button', data-toggle='modal', data-target='#settingsModal')
              i.fa.fa-cogs
              | &nbsp;Settings
          ul.nav.navbar-nav.navbar-right
            li: a#browserstack(href='http://www.browserstack.com/')
              i.fa.fa-star
              | &nbsp;BrowserStack
            li: a#donate(href='http://dogancelik.com/donate.html')
              i.fa.fa-heart
              | &nbsp;Donate
            li: a(href='https://gitter.im/dogancelik/links')
              i.fa.fa-comments
              | &nbsp;
              span Gitter
              | &nbsp;
              small (Chat)
            li: a(href='https://github.com/dogancelik/links')
              i.fa.fa-github
              | &nbsp;Github

      div(ng-view='ng-view')

      #settingsModal.modal.fade(tabindex='-1', role='dialog', ng-controller='SettingsCtrl')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span ×
              h4.modal-title Settings
            .modal-body
              .form-group
                label Source URLs
                textarea.form-control(ng-model='settings.url')
              .form-group
                button.btn.btn-default(ng-class="{active: settings.cache, 'btn-success': settings.cache}", ng-click='settings.cache = !settings.cache') Activate Cache
                | &nbsp;
                button.btn.btn-default(ng-click='clear()') Clear Cache
                | &nbsp;
                a.pull-right.btn.btn-default(href='https://github.com/links-js/links/wiki/Sources', target='_blank') List of sources
              .row
                .col-sm-6
                  .form-group
                    label(for='settings-suggestions') Max suggestions
                    input#settings-suggestions.form-control(ng-model='settings.limit')
                  .form-group.hidden
                    label(for='settings-filter') Filter by tag
                    input#settings-filter.form-control(ng-model='settings.filter')
                .col-sm-6
                  .form-group
                    label Open files in
                    select.form-control(ng-model='settings.openFile')
                      option(value='new') New tab
                      option(value='current') Current tab
                  .form-group
                    label Open pages in
                    select.form-control(ng-model='settings.openPage')
                      option(value='new') New tab
                      option(value='current') Current tab
              .form-group
                label Custom CSS (inline) or CSS URL
                textarea.form-control(ng-model='settings.css')
              .form-group.text-right
                button.btn.btn-default(ng-click='reset()') Reset Settings
              div.text-center.alert.alert-warning(ng-show='status')
                b {{ status }}
                br
                a.alert-link(href='javascript:location.reload()') (Click here to reload)
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close

    script(type='text/ng-template', id='typeahead.html')
      .row
        .col-md-12
          form#type-form
            input#typeahead.my-typeahead.form-control.input-lg(type='text', placeholder='Search for links')

    script(type='text/ng-template', id='list.html')
      .row
        .col-md-12
          form
            .form-group
              input.form-control.input-lg(type='text', placeholder='Search for links', ng-model='term', ng-change='change()')

          .panel.panel-default(ng-repeat='link in searchResults | limitTo: settings.limit', ng-if='term != ""')
            .panel-heading
              span.panel-title
                span.text-muted &#35;{{ $index+1 }}
                | &nbsp;{{ link.name }}&nbsp;
              ul.hidden-xs.list-inline.pull-right
                li(ng-repeat='tag in link.tags'): span: a(ng-href='/#/list/tag:{{ tag }}') &#35;{{ tag }}
              span.hidden-xs.text-muted.pull-right {{ link._url | filename }}&nbsp;|&nbsp;
            .panel-body
              a(ng-href='{{ link.url }}', ng-bind='link.url')

    script(type='text/ng-template', id='tags.html')
      .row(ng-controller='TagsCtrl', ng-init='openLink="type"')
        .col-md-12
          form.form-inline
            .form-group
              input(type='radio', ng-model='openLink', name='openLink', id='openLink1', value='type')
              label(for='openLink1') Open link in Typeahead
            .form-group
              input(type='radio', ng-model='openLink', name='openLink', id='openLink2', value='list')
              label(for='openLink2') Open link in List
          ul.tags.list-inline
            li.tag(ng-repeat='(key, val) in tags', ng-class='getClass(val)')
              a(ng-href='/#/{{ openLink }}/tag:{{ key }}') \#{{key}}

    script(type='text/javascript', src='vendor.min.js')
    script(type='text/javascript', src='index.min.js')
